<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div th:fragment="nav">
    <div th:replace="fragrams/onlynav :: onlynav" />
      <div class="row my-2">
      <div class="col-4 ">
        <div th:replace="fragrams/girlboycount :: girlboycount" />
      </div>
      <form class="form-inline col-2 offset-4 mx-12" method="post" action="/findstudentbyId">
          <input class="form-control mr-sm-2" type="search" name="id" placeholder="First by id" aria-label="Search" required>
          <button style="background-color: blanchedalmond;" class="btn btn-outline-success my-2 my-sm-0" id="buttons" type="submit">Go</button>
        </form>
      <form class="form-inline col-2 mx-12" method="post" action="/findstudentbyName">
          <input class="form-control mr-sm-2" type="search" name="firstName" placeholder="Enter first name" aria-label="Search" required>
          <input class="form-control mr-sm-2" type="search" name="lastName" placeholder="Enter last name" aria-label="Search" required>
          <button style="background-color: blanchedalmond;" class="btn btn-outline-success my-2 my-sm-0" id="buttons" type="submit">Go</button>
        </form>
    </div>
    </div>

</body>
</html>