<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div th:fragment="nav">
  <a id="logo" href="search.html">
    <div class="logo"></div>
    </a>
<center>
    <h1 style="color:blanchedalmond;font-size:60px;">Great Elementary School</h1> </center>
    <nav  class="navbar navbar-expand-lg navbar-light justify-content-between ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
              <a class=" nav-item nav-link" th:href="@{search}">Home</a>
            <a class="nav-item nav-link" th:href="@{studentform}">Register Student</a>
            <a class="nav-item nav-link" th:href="@{birthdaystoday}">Birthdays today</a>
            <a class="nav-item nav-link" th:href="@{fourth}">Register Course</a>
            <a class="nav-item nav-link" th:href="@{list}">All students</a>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Students
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" th:href="@{first}">First Grade</a></li>
                <li><a class="dropdown-item" th:href="@{second}">Second Grade</a></li>
                <li><a class="dropdown-item" th:href="@{third}">Third Grade</a></li>
                <li><a class="dropdown-item" th:href="@{fourth}">Fourth Grade</a></li>
                <li><a class="dropdown-item" th:href="@{list}">All students</a></li>
              </ul>
            </div>

          </div>
        </div>
       <form class="form-inline nav-item ">

          <a class="btn btn-outline-success my-2 my-sm-0" href="index.html"  type="button">Logout</a>
        </form>
      </nav>
      <form class="form-inline offset-10" method="get" action="/search">
        <input class="form-control mr-sm-2" type="search" name="id|firstName|lastName" placeholder="Search" aria-label="Search">
        <button style="background-color: blanchedalmond;" class="btn btn-outline-success my-2 my-sm-0" id="buttons" type="submit">Go</button>
      </form>
    </div>
    
</body>
</html>