   
body {

  background: url("https://wallpaperset.com/w/full/b/7/8/264096.jpg")  top left;
  background-size: cover;
  color: blanchedalmond;
  padding: 0px;
  margin: 0px;
  
  
}
  .logo {
    background-image: url("https://www.graphicsprings.com/filestorage/stencils/aea126a28feb00b996ef0ccf47171221.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
  }
 nav{
  background-color: blanchedalmond;
 }
 
 .navbar-brand{
   border-color: gray;
 }


.card {
  background-color: blanchedalmond;
}
.btn-primary {
  background-color: gray;
}
textarea {
  position: relative;
}
h3,label{
  color: black;
}
