<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragrams/header :: header" />
  <body>
    <div>
      <div th:replace="fragrams/nav :: nav" />
    </div>
    <div class="container">
      <section class="row m-1">
        <article class="col">
        </article>
        <article class="row">
         <h1 class="text-danger"> ACCESS DENIED</h1>
        </article>
      </section>
    </div>

    <div th:replace="fragrams/footer :: footer" />
  </body>
</html>
