<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragrams/header :: header" />
  <body>
    <div>
      <div th:replace="fragrams/onlynav :: onlynav" />
    </div>
    <div class="container">
        <h2>score form</h2>
        <div class="row">
            <div class="col-6">
           <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student First Name</th>
                <th scope="col">Student Last Name</th>
                <th scope="col">Course Name</th>
                <th scope="col">Add Mark</th>
                
              </tr>
            </thead>
            <tbody>
            
              <tr th:each="score: ${scores}">
                <th  scope="row" th:text="${score.id}"></th>
                <td th:text="${score.student.firstName}"></td>
                <td th:text="${score.student.lastName}"></td>
                <td th:text="${score.course.courseName}"></td>
                
                <td>
            
                  <form id="myform" method="post" name="myForm" th:action="@{/scores/saveScoretoStudenCourse(id=${score.id})}" autocomplete="off"  >
                  <div class="input-group mb-3">
                      <input list="Score" id="mark" name="mark" placeholder="Type Score"
                             aria-label="Type Score" aria-describedby="button-addon2" th:value="${score.mark}" />
                       <!-- <input type="hidden" name="id" th:field="${score.id}"/> -->
                      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
                  </div>
      
                  
              </form>
              
            </td>
             
              </tr>
            </tbody>
          </table> 

          <table class="table">
            <thead>
              <tr>
               
                <th scope="col">Average Score</th>
                <th scope="col">Exam Grade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" th:text="${average}"></th>
                <td th:text="${examgrade}"></td>
             </tr>
            </tbody>
          </table> 





        </div>
        </div>
    </div>

    <div th:replace="fragrams/footer :: footer" />
  </body>
</html>
